body, footer {
    margin: 0;
    background-color: #0ca146;
    background-image: url('img/grass-tile.gif');
    background-attachment: fixed;
    box-sizing: border-box;
}

#menu {
    text-align: center;
    width: 100%;
}

.star img {
    width: 30px;
}

p {
    text-align: center;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}

p, li {
    background-color: #50d7f0;
}

a {
    color: #82203b;
    word-wrap: break-word;
}

.header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}

.pixel-button {
    background-image: url(img/button-sprite.gif);
    width: 143px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.pixel-button:hover {
    background-position-y: -50px;
}

main, footer {
    position: relative;
    padding: 20px;
    font-size: 30px;
    font-family: pixel-font-2;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #50d7f0;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 300px;
    background-image: url('img/dot-background-tile--bigger.gif');
}

footer {
    background-color: #50d7f0;
    background-image: none;
    text-align: center;
    font-size: 25px;
}
.screenreader {
    position: absolute !important; /* Outside the DOM flow */
    height: 1px; width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

h1 {
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: eight-bit-pusab;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

.button-link {
    border: 10px solid transparent;
    padding: 2px;
    border-image: url(img/button1.png) 100 stretch;
    margin: 0px;
    display: inline-block;
    background-image: url(img/button-bg.jpg);
    background-size: contain;
    background-clip: padding-box;
    color: black;
    text-decoration: none;
    filter: hue-rotate(-77deg);
    margin: 5px;
    z-index: 1;
}

.button-link:hover, .button-link:focus {
    filter: hue-rotate(35deg);
    border-image: url(img/button2.png) 100 stretch;
    background-image: url(img/button-bg2.jpg);
}

.game-info {
    display: none;
    border: 5px solid black;
    margin-top: -5px;
    padding: 10px;
    background-color: #e1f5ceed;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

@font-face {
    font-family: eight-bit-pusab;
    src: url(fonts/8-bit-pusab.ttf);
}

@font-face {
    font-family: Pixeled;
    src: url(fonts/Pixeled.ttf);
}

@font-face {
    font-family: pixel-font-2;
    src: url(fonts/pixel-font-2.ttf);
}

strong {
    display: block;
}

/* Press Kit */

/* LAYOUT */

.layout-div {
    font-size: 0;
    position: relative;
}

.layout-div * {
    vertical-align: middle;
    padding-left: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.one-across {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.two-across {
    width: 50%;
}

.three-across {
    width: 33.3%;
}



@media only screen and (max-width: 600px) {
    .three-across {
        width: 50%;
    }

    .two-across {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .three-across {
        width: 100%;
    }
}
