body {
    margin: 0;
    background-color: #5bd3ec;
    background-image: url('img/grass-tile.gif');
    background-attachment: fixed;
    box-sizing: border-box;
}

#menu {
    text-align: center;
    width: 100%;
}

.star img {
    width: 30px;
}

p {
    text-align: center;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inherit;
}

p, li {
    background-color: #50d7f0;
}

a {
    color: #82203b;;
}
.header {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
}

.pixel-button {
    background-image: url(img/button.gif);
    width: 127px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.pixel-button:hover {
    background-image: url(img/button--hover.gif);
}

main {
    position: relative;
    padding: 20px;
    font-size: 30px;
    font-family: pixel-font-2;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f8f5;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 300px;
    background-image: url('img/dot-background-tile--bigger.gif');
}

.screenreader {
    position: absolute !important; /* Outside the DOM flow */
    height: 1px; width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

.chicken {
    width: 208px;
    position: absolute;
    transform: translate(0,0);
    left: 0;
    animation-name: chicken;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top: -32px;
}

@keyframes chicken {
    from {left: -208px;}
    to {left: 100%;}
  }
  

.game-links {
    display: flex;
    flex-wrap: wrap;
}

.game-link {
    padding: 0;
    margin: 0;
    border: none;
    font-family: pixel-font-2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 31.5%;
    /* box-sizing: border-box; */
    cursor: pointer;
}

.game-link--active {
    /* border: 5px solid black; */
    border-top:     5px solid black;;
    border-right:   5px solid black;; 
    border-left:  5px solid black;;
}

.game-link__image {
    width: 100%;
}
.game-link__div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8vw;
    color: white;
    width: 100%;
    height: 100%;
    background-color:black;
    opacity: 0;
    position: absolute;
    text-align: center;
    box-sizing: border-box;
    padding: 5px;
    /* box-sizing: border-box; */
}

@media screen and (min-width: 800px) {
    .game-link__div {
       font-size: 70px;
    }
}

.game-link:hover > .game-link__div, .game-link:focus > .game-link__div{
    opacity: 0.8;
}

h1 {
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: eight-bit-pusab;
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.button-link {
    border: 10px solid transparent;
    padding: 2px;
    border-image: url(img/button1.png) 100 stretch;
    margin: 0px;
    display: inline-block;
    background-image: url(img/button-bg.jpg);
    background-size: contain;
    background-clip: padding-box;
    color: black;
    text-decoration: none;
    filter: hue-rotate(-77deg);
    margin: 5px;
    z-index: 1;
}

.button-link:hover, .button-link:focus {
    filter: hue-rotate(35deg);
    border-image: url(img/button2.png) 100 stretch;
    background-image: url(img/button-bg2.jpg);
}

.game-info {
    display: none;
    border: 5px solid black;
    margin-top: -5px;
    padding: 10px;
    background-color: #e1f5ceed;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }

@font-face {
    font-family: eight-bit-pusab;
    src: url(fonts/8-bit-pusab.ttf);
}

@font-face {
    font-family: Pixeled;
    src: url(fonts/Pixeled.ttf);
}

@font-face {
    font-family: pixel-font-2;
    src: url(fonts/pixel-font-2.ttf);
}

.ism-image {
    max-height: 100%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.full-width {
    width: 100%;
}

strong {
    display: block;
}

/* Press Kit */

.presskit-logos {
    width: 30%;
}

.alt-bg {
    background-color: white;
    min-width: 500px;
}

.full-width-image {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.half-width-image {
    max-width: 49%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: inline-block;
}